### IntelliJ IDEA ###

# Каталог с настройками IDE
.idea/

# Игнорировать файлы модулей
*.iml

# Логи
*.log

# Временные файлы редактора
*.swp

# Скомпилированные файлы и артефакты
out/
target/
build/

!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store